.heading {
  &-wrapper {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
  }

  &-pre {
    letter-spacing: $letter-spacing-narrow;
    color: $color-grey-100;
    font-size: $font-size-md;
  }

  &-main {
    font-family: $heading-font-family;
    letter-spacing: $letter-spacing-wide;;
    color: $color-light;
    font-size: $font-size-xxxl;
  }

  &-post {
    font-family: $heading-font-family;
    letter-spacing: $letter-spacing-wide;
    color: $color-primary;
    font-size: $font-size-md;
    position: relative;
    display: inline-block;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      width: 50px;
      height: 2px;
      background: $color-primary;
    }

    &::before {
      right: 100%;
      margin-right: 10px;
    }

    &::after {
      left: 100%;
      margin-left: 10px;
    }
  }
}
