$color-primary: #C00404;
$color-primary-dark: #740f0c;
$color-secondary: #7EAA55;

$color-background: #151515;
$color-light: #DCDCDC;
$color-dark: #1A1A1A;

$color-grey-100: #898989;
$color-grey-200: #535353;
$color-grey-200: #262626;


$font-size-xs: 0.625rem;
$font-size-sm: 0.75rem;
$font-size-md: 0.875rem;
$font-size-lg: 1rem;
$font-size-xl: 1.25rem;
$font-size-xxl: 1.5rem;
$font-size-xxxl: 4rem;

$heading-font-family: 'Gang of Three';
$body-font-family: 'Noto Sans JP';


$letter-spacing-narrow: 0.2rem;
$letter-spacing-wide: 0.4rem;
